<footer>
  <div class="social">
    <img src="{{ site.baseurl }}images/facebook.svg" alt="facebook">
    <img src="{{ site.baseurl }}images/twitter.svg" alt="twitter">
    <img src="{{ site.baseurl }}images/instagram.svg" alt="instagram">
  </div>
  <div class="footer-nav">
    <div class="nav-section">
      <a>About Us</a>
      <a>Pricing</a>
      <a>Contact Us</a>
    </div>
    <span class="vl"></span>
    <div class="nav-section">
      <a class="blue">Reservations <img src="{{ site.baseurl }}images/external-arrow.svg" alt=""></a>
      <a class="blue">Shop Online <img src="{{ site.baseurl }}images/external-arrow.svg" alt=""></a>
    </div>
  </div>
</footer>