<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Table Top Cafe | Edmonton's best boardgame cafe</title>
  <meta name="description" content="Edmonton's best boardgame cafe. Table Top cafe is special blend of coffee shop, board game library and retail store." />
  <meta name="keywords" content="boardgame, cafe, boardgame cafe, tabletop, table, top, games, tabletop cafe" />
  <meta property="og:url" content="https://tabletopcafe.ca/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Edmonton's best boardgame cafe" />
  <meta property="og:description" content="Fun and casual spot to grab a drink and play some boardgames." />
  <meta property="og:image" content="{{ 'images/hero.jpg' | relative_url }}" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ 'images/icons/favicon.ico' | relative_url }}?">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Raleway:400&display=swap" rel="stylesheet">
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>