<div class="header">
  <img class="logo" src="{{ 'images/logo.jpg' | relative_url }}" alt="">

  <a class="menu-toggle" onclick="openMenu()">
    <svg height='40px' width='40px'  fill="#2E2E2E" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" x="0px" y="0px"><title>menu, hamburger, interface, line, navigation</title><g data-name="31"><path d="M15.5,4H.5a.5.5,0,0,1,0-1h15a.5.5,0,0,1,0,1Z"></path><path d="M15.5,9H.5a.5.5,0,0,1,0-1h15a.5.5,0,0,1,0,1Z"></path><path d="M15.5,14H.5a.5.5,0,0,1,0-1h15a.5.5,0,0,1,0,1Z"></path></g></svg>
  </a>
  <div id="nav-menu" class='nav-items'>
    <div class='nav-section'>
      <a href='#about' class="no-margin">About Us</a>
      <a href='#prices'>Pricing & Hours</a>
      <a href="https://store.tabletopcafe.ca{{ 'images/menu.pdf' | relative_url }}">Menu</a>
      <a href='#contact'>Contact Us</a>
    </div>
    <span class="vl"></span>
    <div class='nav-section'>
      <a class="" href='https://www.tbdine.com/book/restaurant/table-top-board-game-cafe'>Reservations<img src="{{ 'images/external-arrow.svg' | relative_url }}" alt=""></a>
      <a class="" href='https://store.tabletopcafe.ca'>Shop Online<img src="{{ 'images/external-arrow.svg' | relative_url }}" alt=""></a>
    </div>
  </div>  
</div>