<div class="header">
  <img class="logo" src="{{ 'images/logo.jpg' | relative_url }}" alt="">
  <div class='nav-items'>
    <div class='nav-section'>
      <a href='#'>About Us</a>
      <a href='#'>Pricing</a>
      <a href='#'>Contact Us</a>
    </div>
    <span class="vl"></span>
    <div class='nav-section'>
      <a class="blue" href='#'>Reservations<img src="{{ 'images/external-arrow.svg' | relative_url }}" alt=""></a>
      <a class="blue" href='#'>Shop Online<img src="{{ 'images/external-arrow.svg' | relative_url }}" alt=""></a>
    </div>
  </div>
</div>