<div class="header">
  <img class="logo" src="{{ site.baseurl }}images/logo.jpg" alt="">
  <div class='nav-items'>
    <div class='nav-section'>
      <a href='#'>About Us</a>
      <a href='#'>Pricing</a>
      <a href='#'>Contact Us</a>
    </div>
    <span class="vl"></span>
    <div class='nav-section'>
      <a class="blue" href='#'>Reservations<img src="{{ site.baseurl }}images/external-arrow.svg" alt=""></a>
      <a class="blue" href='#'>Shop Online<img src="{{ site.baseurl }}images/external-arrow.svg" alt=""></a>
    </div>
  </div>
</div>