body{
    background-color:#FFFFFF;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: #2E2E2E;
    /* margin-left:50px;
    margin-right:50px; */
}
a{
    text-decoration: none;
}
p{
    color: #636363;
    margin: 0;
}
h1, h2, h3{
    margin: 0;
}
label{
    display:block;
}
.row{   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
}
.col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-bottom: 50px;
    /* align-items: center; */
}
.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}
.reverse{
    flex-wrap: wrap-reverse;
}
.center{
    align-items: center;
}
.logo{
    max-width: 173px;
}
.nav-items{
    float: right;
    padding-top: 40px;
    padding-bottom: 40px;
}
.nav-section {
    display: inline;
}
.nav-section a{
    padding-right: 30px;
}
.nav-section a:last-child{
    padding-right: 0px;
}
.blue{
    color:#2D78E0;
}
.header{
    padding-top: 30px;
    margin: 0 auto;
    max-width: 1504px;
}
.hero{
    display: flex;
    margin: 0 auto;
    max-width: 1504px;
    margin-bottom: 200px;

    margin-left:50px;
    margin-right:50px;
}
.about{
    display: flex;
    margin: 0 auto;
    max-width: 1504px;
    margin-bottom: 200px;
    margin-left:50px;
    margin-right:50px;
}
.contact{
    max-width: 1504px;
    margin: 0 auto;
    
}
.prices{
    max-width: 1504px;
    margin: 0 auto;
    max-width: 1504px;
    margin-bottom: 240px;
    margin-left:50px;
    margin-right:50px;
}
.hero-title{
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 62px;
    max-width: 550px;
}
.hero-content{
    font-size: 22px;
    max-width: 550px;
    font-weight: 300;
    letter-spacing: 0.1rem;
}
.hero-image-container{
    flex-grow: 2;
    max-height: 800px;
    margin-left: 50px;
}
.hero-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}
.hero-image{
    object-fit: contain;
    max-height: 800px;
    float: right;
}
.hero-actions{
    margin-top: 38px;
}
.contact-form input{
    display: block;
}
.btn{
    display: inline-block;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    width: fit-content;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 17px;
    padding-bottom: 17px;
    background-color: #2D78E0;
    border-radius: 4px;
    box-shadow: none;
    border: 0px;

    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.btn:hover{
    box-shadow: 2px 2px 15px #eaeaea;
    transform: translateY(-2px);
}
.btn-secondary{
    display: inline-block;
    border-bottom: 2px solid #2D78E0;
    padding-bottom: 3px;
    text-transform: uppercase;
    
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
}
.btn-secondary:hover{
    padding-bottom: 8px;
}
.reservations{
    margin-right: 30px;
}
.section-heading{
    font-size: 14px;
    color: #2D78E0;
    text-transform: uppercase;
    margin-bottom:15px;
}
.section-title{
    font-size: 36px;
    max-width: 550px;
    margin-bottom:18px;
}
.feature-title{
    font-size: 20px;
    font-weight: 500;
    margin-bottom:8px;
}
.feature-image{
    float: left;
}
.features{
    justify-content: space-between;
}
.feature{
    display: flex;
    align-items: center;
    max-width: 400px;
    margin-bottom: 25px;
}
.feature-image{
    margin-right:20px;
}
.about-wrapper{
    max-width: 550px;
}
.price{
    font-size: 36px;
    font-weight: 700;
    color: #2D78E0;
    margin-bottom: 30px;
}
.price-unit{
    font-size: 14px;
    font-weight: 400;
    color: #636363;
    padding-left: 5px;
}
.contact{
    /* max-width: 900px; */
}
.contact-form{
    margin-top:50px;
    padding: 57px;
    max-width: 550px;
    margin-left: -100px;
    z-index: 2;
    background-color: #FFFFFF;
}
.contact-info{
    padding-bottom: 15px;
}
.contact-link{
    margin-bottom:10px;
    display: block;
    font-size: 16px;
    font-weight: 300;
    border-bottom: 1px solid #2D78E0;
    width: fit-content;
    color: #636363;
}
label{
    padding-bottom: 4px;
    color: #636363;
    font-weight: 400;
    font-size: 15px;
}
input{
    margin-bottom: 15px;
}
input[type=text]{
    border: 0.5px solid #d5d5d5;
    height: 30px;
    border-radius: 4px;
    border-color: #D5D5D5;
    width: 100%;
}
input[type=submit]{
}
textarea{
    border: 0.5px solid #D5D5D5;
    height: 100px;
    border-radius: 4px;
    width: 100%;
    border-color: #D5D5D5;
    margin-bottom: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.map{
    /* max-width: 500px; */
}
.social{
    display: inline;
}
.social svg{
    max-height: 18px;
    max-width: 20px;
    margin-left: 20px;
}
.social svg:first-child{
    margin-left: 0px;
}
footer{
    max-width: 1504px;
    margin-top: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.footer-nav{
    display: inline;
    float: right;
}
.footer-nav a{
    padding-right: 30px;
}
.vl {
  border-left: 1px solid#D8D8D8;
  height: 20px;
  margin-right: 20px;
  margin-left: 20px;
  display: inline;
}
.social g{
    fill: #2D78E0;
}
iframe{
    width:100%;
    height:850px;
}
.menu-toggle {
  display: none;
  float: right;
  margin-right: 10px;
  margin-top: 20px;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.day{
    display: inline-block;
    width: 300px;
    font-size: 24px;
    font-weight: 600;
    color: #2E2E2E;
}
.time{
    font-size: 18px;
}
.no-margin{
    margin: 0px !important;
}

@media only screen and (max-width: 840px) {
    .nav-items{
        display: block;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        background-color: #2D78E0;
        /* padding-top: 20px;
        padding-bottom: 20px; */
        padding-top: 0px;
        float: none;
        display: none;
    }
    .vl{
      display: none;
    }
    .nav-items a{
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        color: #FFFFFF;
        /* padding-top: 10px;
        padding-bottom: 10px; */
        font-size: 22px;
        margin-top: 25px;
    }
    .menu-toggle {
        position:relative;
        cursor:pointer;
        display: block;
    }
    #nav-menu {
      /* display: block; */
      max-height: 0;
      padding-top:20px;
      padding-bottom:20px;
      transition: max-height .5s;
      /* transition-duration: 0.2s; */
      transition-timing-function: ease-in-out;
    }
}

@media only screen and (max-width: 700px) {
  .col {
    margin-bottom: 0px;
  }
  .btn{
    font-size: 14px;
    margin-right: 20px;
  }
  iframe{
    width:100%;
    height:400px;
  }
  .header{
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .contact-form{
      margin-left: 0px;
  }
  .menu-toggle {
    position:relative;
    cursor:pointer;
    display: block;
  }
  .nav-items{
      display: block;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      background-color: #2D78E0;
      /* padding-top: 20px;
      padding-bottom: 20px; */
      padding-top: 0px;
      float: none;
      display: none;
  }
  .vl{
    display: none;
  }
  .nav-items a{
      display: block;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      color: #FFFFFF;
      /* padding-top: 10px;
      padding-bottom: 10px; */
      font-size: 22px;
      margin-top: 25px;
  }
  .logo{
      display: inline-block;
      max-width: 150px;
  }
  #nav-menu {
    /* display: block; */
    max-height: 0;
    padding-top:20px;
    padding-bottom:20px;
    transition: max-height .5s;
    /* transition-duration: 0.2s; */
    transition-timing-function: ease-in-out;
  }
  .hero{
    flex-wrap: wrap;
    max-width: 1504px;
    margin-bottom: 200px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 150px;
    /* margin-left: 50px;
    margin-right: 50px; */
  }
  .hero-title{
   font-size: 52px;   
  }
  .hero-image{
    float: none;
    max-width: 400px
  }
  .hero-image-container{
    max-height: 300px;
    margin-left: 0px;
    margin-bottom: 25px;
    order: -1;
    flex: none;
    overflow: hidden;
    max-width: -webkit-fill-available;
  }
  .hero-info{
      margin-left: 10px;
      flex-shrink: 1;
  }
  .about{
    margin-left: 10px;
    margin-bottom: 150px;
  }
  .about-wrapper{
      margin-bottom: 50px;
  }
  .prices{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 150px;
  }
  .contact-form{
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
  }
  .footer-nav{
      display: none;
  }
  .social{
      text-align: center;
      display: block;
  }
  .social svg{
      margin-left: 30px; 
      max-height: 25px;
      max-width: 30px;
  }
  .social svg:first-child{
      margin-left: 0px; 
  }
  footer{
      margin-top: 50px;
      margin-bottom: 50px;
  }
  .hour-section{
    margin-bottom: 10px;
  }
}



/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}