<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <div class="container">
  {% include header.html %}
  {{ content }}
  {% include footer.html %}
  </div>

  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>

<script>
  AOS.init();
</script>
<script>
  document.querySelectorAll('a[href^="#"]').forEach(anchor => {
      anchor.addEventListener('click', function (e) {
          e.preventDefault();

          document.querySelector(this.getAttribute('href')).scrollIntoView({
              behavior: 'smooth'
          });
      });
  });

  
  /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }

  /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
  }

  function openMenu() {
    var height = document.getElementById("nav-menu").style.maxHeight
    console.log(height)
    if(height == "0px" || height == null || height == ""){
      document.getElementById("nav-menu").style.maxHeight = "100%";
      document.getElementById("nav-menu").style.display = "block";
    }
    else{
      document.getElementById("nav-menu").style.maxHeight = "0px";
      document.getElementById("nav-menu").style.display = "none";
    }
  }
</script>

</html>